@import './flex.less';

@-webkit-keyframes start {
    0%, 30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px)
    }
}

@-moz-keyframes start {
    0%, 30% {
        opacity: 0;
        -moz-transform: translate(0, 10px)
    }
    60% {
        opacity: 1;
        -moz-transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        -moz-transform: translate(0, -8px)
    }
}

@keyframes start {
    0%, 30% {
        opacity: 0;
        transform: translate(0, 10px)
    }
    60% {
        opacity: 1;
        transform: translate(0, 0)
    }
    100% {
        opacity: 0;
        transform: translate(0, -8px)
    }
}

.container {
    height:100%;
    .swiper-container-up {
       width:100%;
       height:100%;
    }
    .swiper-container-row{
       width:100%;
       margin: 30px auto;
       -webkit-tap-highlight-color:transparent;
     }
    .swiper-slide-one{
        display: none !important;
        position: relative;
        text-align:center;
        font-size:18px;
        background:#fff;
        .display(flex);
        .justify-content(center);
        .align-items(center);
        .flex-direction(column);
        .swiper-img {
            .flex(1);
            width: 100%;
            display: block;
         }
        .bottom-bar {
            .flex(none);
            width: 100%;
            max-height: 50px;
            background: #d4062d;
            color: white;
            text-align: center;
            .display(flex);
             padding: 15px;
            .justify-content(center);
            .align-items(center);
         }
         .u-arrow-bottom {
            bottom: 30px;
            z-index: 150;
            margin-left: 50%;
            left: -7px;
            position: absolute;
            img {
                position: absolute;
                width: 24px;
                height: 14px;
                left: 50%
            }
            .pre-wrap {
                width: 24px;
                height: 14px;
                position: relative;
                -webkit-animation: start 1.5s infinite ease-in-out;
                -moz-animation: start 1.5s infinite ease-in-out;
                animation: start 1.5s infinite ease-in-out;
            }
            .pre-box1,
            .pre-box2 {
                height: 15px;
                width: 11px;
                position: absolute;
                top: -5px;
                overflow: hidden
            }
            
            .pre-box2 {
                left: 10px
            }
            
            .pre1,
            .pre2 {
                width: 14px;
                height: 5px;
                position: absolute;
                box-shadow: 1px -1px 1px #646464;
                top: 5px
            }
            
            .pre1 {
                transform: rotate(130deg);
                -webkit-transform: rotate(130deg);
                left: 1px
            }
            
            .pre2 {
                width: 14px;
                left: -4px;
                -webkit-transform: rotate(50deg);
                transform: rotate(50deg)
            }
            .pre1,
            .pre2{
                border-radius: 2px;
                background-color: #fff
            }

         }
    }
    .swiper-slide-two {
        .swiper-slide{
           .flex-direction(column);
           background-position:center;
           background-size:cover;
           width:60%;
           height:100%;
       }
       .swiper-img {
          width: 100%;
          height: 100%;
          display: block;
          margin: 0 auto;
         -webkit-tap-highlight-color:transparent;
       }
       
       .button-list {
          .display(flex);
          .justify-content(center);
          .align-items(center);
          button {
              .flex(1);
              padding: 10px;
              border: 1px solid #d4062d;
              background: white;
              border-radius: 10px;
              margin: 20px;
              color: #d4062d;
              font-size: 18px;
          }
          .share {
              background:  #d4062d;
              color: white;
          }
       }
       
       .link-list{
          padding: 5px 30px;
          h3{
              color: #d4062d;
              font-size: 18px;
              .key {
                  font-size: 20px;
                  font-weight: bold;
              }
          }
          ul{
              padding: 10px 0;
              li {
                  padding: 3px 0px;
                  font-size: 14px;
              }
          }
       }
      .copyright{
          text-align: center;
          font-size: 10px;
          color: #bebebe;
          position: absolute;
          bottom: 10px;
          width: 100%;
      }
    }
}
