@import './flex.less';

.container {
    height:100%;
    .swiper-container-up {
       width:100%;
       height:100%;
    }
    .swiper-container-row{
       width:100%;
       margin: 30px auto;
     }
    .swiper-slide-one{
        display: none !important;
        text-align:center;
        font-size:18px;
        background:#fff;
        .display(flex);
        .justify-content(center);
        .align-items(center);
        .flex-direction(column);
        .swiper-img {
            .flex(1);
            width: 100%;
            display: block;
         }
        .bottom-bar {
            .flex(none);
            width: 100%;
            max-height: 50px;
            background: #d4062d;
            color: white;
            text-align: center;
            .display(flex);
             padding: 15px;
            .justify-content(center);
            .align-items(center);
         }
    }
    .swiper-slide-two {
        .swiper-slide{
           .flex-direction(column);
           background-position:center;
           background-size:cover;
           width:60%;
           height:100%;
       }
       .swiper-img {
          width: 100%;
          height: 100%;
          display: block;
          margin: 0 auto;
       }
       
       .button-list {
          .display(flex);
          .justify-content(center);
          .align-items(center);
          button {
              .flex(1);
              padding: 10px;
              border: 1px solid #d4062d;
              background: white;
              border-radius: 10px;
              margin: 20px;
              color: #d4062d;
              font-size: 18px;
          }
          .share {
              background:  #d4062d;
              color: white;
          }
       }
       
       .link-list{
          padding: 5px 30px;
          h3{
              color: #d4062d;
              font-size: 18px;
              .key {
                  font-size: 20px;
                  font-weight: bold;
              }
          }
          ul{
              padding: 10px 0;
              li {
                  padding: 3px 0px;
                  font-size: 14px;
              }
          }
       }
      .copyright{
          text-align: center;
          font-size: 10px;
          color: #bebebe;
          position: absolute;
          bottom: 10px;
          width: 100%;
      }
    }
}
