html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* common */
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.common-serach-wrap {
  width: 100%;
  height: 50px;
  background: #363638;
  border-bottom: #478bf8 solid 2px;
}
.common-serach-wrap .search {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.common-serach-wrap .query {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0.01%;
  -moz-flex: 1 1 0.01%;
  -ms-flex: 1 1 0.01%;
  flex: 1 1 0.01%;
  -ms-flex-positive: 1;
  -ms-flex-negative: 1;
  -ms-flex-preferred-size: 0.01%;
  background: #363638;
  border: 1px solid #606061;
  border-radius: 3px;
  height: 30px;
  margin-left: 10px;
  padding: 0 10px;
  line-height: 30px;
  color: white;
  font-size: 16px;
}
.common-serach-wrap .submit {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none 1 0.01%;
  -moz-flex: none 1 0.01%;
  -ms-flex: none 1 0.01%;
  flex: none 1 0.01%;
  -ms-flex-positive: none;
  -ms-flex-negative: 1;
  -ms-flex-preferred-size: 0.01%;
  background: url('../img/search-icon.png') no-repeat;
  width: 22px;
  height: 22px;
  border: none;
  background-size: 100%;
  margin: 0 15px;
}
.common-recommend {
  background: white;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  min-width: 0;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-lines: multiple;
  -moz-box-lines: mulitple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px 0;
}
.common-recommend li {
  margin: 0 5px 10px;
}
.common-recommend a,
.common-recommend-item {
  background: #e8e8e8;
  border-radius: 5px;
  padding: 3px 8px;
  color: #9c9c9c;
  font-size: 14px;
  display: inline-block;
}
.common-column .title {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  min-width: 0;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 15px 20px;
  background: #f8f8f8;
  line-height: 22px;
  border-bottom: #e8e8e8 solid 1px;
}
.common-column .title-head {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0.01%;
  -moz-flex: 1 1 0.01%;
  -ms-flex: 1 1 0.01%;
  flex: 1 1 0.01%;
  -ms-flex-positive: 1;
  -ms-flex-negative: 1;
  -ms-flex-preferred-size: 0.01%;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.common-column .title-icon {
  display: inline-block;
  height: 22px;
  width: 20px;
  background: url('../img/page2-item2-title.png') no-repeat;
  background-size: 100%;
  margin-right: 10px;
}
.common-column .title-more {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none 1 0.01%;
  -moz-flex: none 1 0.01%;
  -ms-flex: none 1 0.01%;
  flex: none 1 0.01%;
  -ms-flex-positive: none;
  -ms-flex-negative: 1;
  -ms-flex-preferred-size: 0.01%;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  color: #6699f5;
}
.common-column .more-icon {
  display: inline-block;
  height: 18px;
  width: 10px;
  background: url('../img/arrow-right.png') no-repeat;
  background-size: 100%;
  margin-left: 10px;
}
.common-column .list li {
  padding: 20px;
  width: 100%;
  border-bottom: #e8e8e8 solid 1px;
  display: inline-block;
}
.common-column .list li a {
  color: #333;
}
.page1 .logo-wrap {
  position: relative;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: 80px 0 40px;
}
.page1 .logo-wrap .logo {
  width: 40%;
}
.page1 .search-wrap {
  position: relative;
  background: none;
  border-bottom: none;
}
.page1 .search-wrap .search {
  border: #cbcbcb 1px solid;
  border-radius: 5px;
  margin: 10px;
}
.page1 .search-wrap .query {
  background: none;
  border: none;
  color: #828282;
}
.page1 .search-wrap .submit {
  background: url('../img/search-icon-blue.png') no-repeat;
  background-size: 100%;
}
.page1 .item1 {
  margin: 20px 20px 0 20px;
}
.page1 .item1 .title {
  color: #7f7f7f;
}
.page1 .item2 {
  position: relative;
  margin: 0 10px 20px;
}
.page1 .item2 .ad {
  width: 100%;
}
.page1 .item2 .title {
  position: absolute;
  margin: 20px;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  line-height: 26px;
}
.page1 .swiper-container {
  width: 100%;
}
.page1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.page2 .item1 .title {
  padding: 20px;
  font-weight: bolder;
  line-height: 32px;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: #ededed;
}
.page2 .item1 .title-icon {
  display: inline-block;
  height: 22px;
  width: 20px;
  background: url('../img/page2-item1-title.png') no-repeat;
  background-size: 100%;
  margin-right: 10px;
}
.page2 .item1 .common-recommend li:first-child {
  margin-left: 10px;
}
.page2 .item1 p {
  background: #ededed;
  padding: 0 20px;
  line-height: 24px;
  color: #656565;
  padding-bottom: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.page2 .item3 .title-icon {
  background: url('../img/page2-item2-title.png') no-repeat;
  background-size: 100%;
}
.page2 .item3 .title-icon {
  background: url('../img/page2-item3-title.png') no-repeat;
  background-size: 100%;
}
.page2 .item4 .title-icon {
  background: url('../img/page2-item4-title.png') no-repeat;
  background-size: 100%;
}
.page3 .item1 .title-icon {
  background: url('../img/page3-item1-title.png') no-repeat;
  background-size: 100%;
}
.page3 .item1 .common-recommend-item {
  margin-top: 10px;
  color: #9c9c9c;
}
.page3 .item2 .title-icon {
  background: url('../img/page3-item2-title.png') no-repeat;
  background-size: 100%;
}
.page3 .item2 .crumb {
  color: #9d9d9d;
  margin-top: 10px;
  font-size: 14px;
}
.page4 .common-column p {
  padding: 20px;
  line-height: 24px;
  color: #656565;
  padding-bottom: 10px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 14px;
}
.page4 .item1 .title-icon {
  background: url('../img/page4-item1-title.png') no-repeat;
  background-size: 100%;
}
.page4 .item2 .title-icon {
  background: url('../img/page4-item2-title.png') no-repeat;
  background-size: 100%;
}
.page4 .item2 .people-wrap {
  margin: 20px;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  min-width: 0;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.page4 .item2 .people-wrap .head-img {
  width: 60px;
}
.page4 .item2 .people-wrap .detail {
  margin-left: 20px;
}
.page4 .item2 .people-wrap .detail h3 {
  font-weight: bolder;
  margin-bottom: 3px;
}
.page4 .item2 .people-wrap .detail .name,
.page4 .item2 .people-wrap .detail .place {
  display: inline-block;
  margin-right: 5px;
}
.page4 .item3 .title-icon {
  width: 28px;
  background: url('../img/page4-item3-title.png') no-repeat;
  background-size: 100%;
}
.page4 .footer {
  padding: 20px;
  line-height: 24px;
  font-size: 14px;
  color: #b8b8b8;
  background: #f8f8f8;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.page4 .footer .read-wrap {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0.01%;
  -moz-flex: 1 1 0.01%;
  -ms-flex: 1 1 0.01%;
  flex: 1 1 0.01%;
  -ms-flex-positive: 1;
  -ms-flex-negative: 1;
  -ms-flex-preferred-size: 0.01%;
}
.page4 .footer .favour {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none 1 0.01%;
  -moz-flex: none 1 0.01%;
  -ms-flex: none 1 0.01%;
  flex: none 1 0.01%;
  -ms-flex-positive: none;
  -ms-flex-negative: 1;
  -ms-flex-preferred-size: 0.01%;
  width: 150px;
  text-align: right;
}
.page4 .footer .favour .icon {
  width: 16px;
  background: url('../img/favour.png') no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 18px;
}
